.metadata/
bin/
gen/
out/
*~
proguard-dump.txt
.DS_Store
.settings
proguard/
.apt_generated/

.idea/
.settings/

.classpath
target/
.project
build/
*.launch
*.discovery
.sublime-project
.sublime-workspace
Thumbs.db
*.class
*.iml
gradlew.bat
gradlew
.gradle/
cache/
gradle/
.vagrant/